<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezhil.handbook">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/handbook_children_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Loadhtml"></activity>
        <activity android:name=".Web"></activity>
        <activity android:name=".EzhilIntro"></activity>
        <activity android:name=".DownloadInstall"></activity>
        <activity android:name=".EzhilCode"></activity>
        <activity android:name=".StartEzhil"></activity>
        <activity android:name=".StartEzhil_Strings"></activity>
        <activity android:name=".StartEzhil_Loops"></activity>
        <activity android:name=".StartEzhil_Drawing"></activity>
        <activity android:name=".StartEzhil_Functions"></activity>
        <activity android:name=".StartEzhil_Filehandling"></activity>
        <activity android:name=".StartEzhil_Loops_Exercise"></activity>
        <activity android:name=".EzhilExamples"></activity>
        <activity android:name=".EzhilExamples_Comparison"></activity>
        <activity android:name=".About"></activity>
        <activity android:name=".EzhilExamples_Examples"></activity>
        <activity android:name=".Loadexamplehtml"></activity>

    </application>


</manifest>
